<section>
    <img class="branding-dark" src="/assets/Images/branding-dark.svg" alt="">
    <div class="login-container">
        <h2>Anmelden</h2>
        <form>
            <div class="input-wrapper">
                <div class="email-wrapper input-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                        <rect x="1.5" y="5.5" width="29" height="22" rx="2" stroke="#10059F" stroke-width="2.5"/>
                        <path d="M2 5 L16 19 L30 5" stroke="#10059F" stroke-width="2.5" fill="none"/>
                    </svg>
                </div>             
                <input type="email" placeholder="Mitarbeiter Email" [(ngModel)]="email" name="email">
            </div>
            <div class="input-wrapper">
                <div class="lock-wrapper input-icon">
                    <svg (click)="toggleLock()" class=" lock" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
                        <rect x="3" y="10" width="18" height="12" rx="2" stroke="#10059F" stroke-width="2"/>
                        <path [attr.d]="isLocked ? 'M7 10V7C7 4.23858 9.23858 2 12 2C14.7614 2 17 4.23858 17 7V10' : 'M7 7V7C7 4.23858 9.23858 2 12 2C14.7614 2 17 4.23858 17 7V10'" 
                              stroke="#10059F" stroke-width="2"/>
                    </svg>
                </div>
                <input [type]="isLocked ? 'password' : 'text'" placeholder="Passwort" [(ngModel)]="password" name="password">
            </div>
            <input class="submit" type="submit" value="Weiter">
        </form>
    </div>
</section>
