@use "variables" as *;
@use "mixins" as *;

section {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100svh - 100px);
  width: 190px;
  background-color: $default-color;
  overflow-y: auto;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  @include flex-between;
  flex-direction: column;
  cursor: pointer;
  border-bottom: 1px solid $primary-color;

  &:hover {
    background: $light-background-color;
    border-bottom: 1px solid transparent;
  }
}

.category-item {
  @include flex-between;
  width: 100%;
}

span {
  font-size: $font-size-sm;
  padding: $padding-sm;
}

svg {
  height: 16px;
  width: 16px;
  margin-right: 16px;
  transition: transform 0.3s ease-in-out;

  &.expanded {
    transform: rotate(180deg);
  }
}

::-webkit-scrollbar {
  width: 0px;
}

.list-selected {
  background-color: $light-background-color;
  padding-bottom: 0;
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid $primary-color;
  }
}

.category-selected {
  background-color: $light-background-color;
  border-bottom: 1px solid transparent;
  font-weight: 800;
}

.sublist {
  align-items: flex-start;
  background-color: $light-background-color;
  width: 190px;
  font-weight: 400;
  span {
    margin-left: 16px;
  }
  &:hover {
    background-color: $default-color;
  }
}

.sublist-selected {
  background-color: $default-color;
  border-bottom: 1px solid transparent;
  font-weight: 800;
}

.subItem {
  width: 100%;
}
